<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-movies.css' />
    <script src="https://kit.fontawesome.com/<%= fontawesomeApiKey %>.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">
      <header>
        <div class="headerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="headerSign">
          <div class="signIn">
            <a>ログイン</a>
          </div>
          <div class="btn signUp">
            <a>新規登録</a>
          </div>
        </div>
      </header>

      <main>
        <div class="backGround">
          <% for (let i = 0; i <= movies.length - 1 ;i++) { %>
            <% if (movies[i].poster_path != undefined) { %>
              <img class="backImg" src="https://image.tmdb.org/t/p/w500<%= movies[i].poster_path %>">
            <% } %>
          <% } %>
        </div>
      </main>


      <footer>
        <div class="footerLogo">
          <a href="/"><p>映画<span>GO</span></p></a>
        </div>
        <div class="footerTwitter">
          <p><a><i class="fa-brands fa-twitter"></i></a></p>
        </div>
      </footer>
    </div>
  </body>
</html>
