/* * {
  outline: 2px red solid;
} */

body {
  padding: 0 80px;
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo h1 span {
  color: #eebbc3;
}

.headerSign {
  display: flex;
  font-weight: bold;
}

.signIn {
  cursor: pointer;
  padding: 2px 0;
  align-items: center;
}

.signUp {
  cursor: pointer;
  text-align: center;
  margin-left: 28px;
  padding: 2px 12px;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 2px;
}