* {
  /* outline: 2px red solid; */
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
  font-size: 20px;
  background-color: #232946;
  border-bottom: solid #fffffe;
  z-index: 999;
}

.headerLogo {
  font-weight: bold;
}

.headerLogo a {
  text-decoration: none;
  color: #fffffe;
}

.headerLogo p span {
  color: #eebbc3;
}

.headerSign {
  display: flex;
  font-weight: bold;

}

.signIn {
  cursor: pointer;
  padding: 2px 0;
  align-items: center;
}

.signUp {
  cursor: pointer;
  text-align: center;
  margin-left: 28px;
  padding: 2px 12px;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 2px;
}

main {
  box-sizing: border-box;
  width: 100vw;
  margin-bottom: 4vh;
  padding-top: 2vh;
  padding-left: 6vw;
  padding-right: 6vw;
}

.detail {
  margin-top: 2vh;
  /* height: 65vh; */
  display: flex;
}

.detailLeft {
  width: 20vw;
  margin-right: 2vw;
}

.moviePoster {
  width: 100%;
  height: 50vh;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
}

.moviePosterImg {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.theaterBtn {
  cursor: pointer;
  text-align: center;
  padding: 6px 12px;
  font-weight: bold;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 0 0 2px 2px;
}

.theaterBtn:hover {
  background-color: #000000;
  color: #fffffe;
}

.movieTitle {
  font-size: 28px;
}

.movieTagline {
  margin-top: 1vh;
  font-style: italic;
  font-size: 20px;
  height: 4vh;
}

.movieReleaseDate {
  margin-top: 1vh;
}

.movieRuntime {
  margin-left: 2vw;
}

.movieScore {
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.movieScore p {
  font-size: 20px;
  font-weight: bold;
}
 
.box {
  position: relative;
  width: 33.3333333333%;
  display: flex;
}

@media screen and (max-width: 750px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .box + .box {
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .box + .box {
    margin-top: 20px;
  }
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.box .percent svg circle {
  position: relative;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 314;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fffffe;
}
.box .percent .number .title {
  font-size: 24px;
}
.box .percent .number .title span {
  font-size: 18px;
}

.box .percent .line {
  -webkit-animation: circleAnim 1s forwards;
          animation: circleAnim 1s forwards;
}

.box.green .percent .line {
  /* stroke-dashoffset: 10; */
  stroke: #1fd26c;
}

.box.yellow .percent .line {
  stroke-dashoffset: 100;
  stroke: #ffd400;
}

.box.red .percent .line {
  stroke-dashoffset: 154;
  stroke: #ff3051;
}
  
@-webkit-keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%, to {
    stroke-dasharray: 314 314;
  }
}
 
@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%, to {
    stroke-dasharray: 314 314;
  }
}

.movieOverviewTitle {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 18px;
}

.movieOverview {
  margin-top: 1vh;
  overflow: scroll;
  height: 13vh;
}

.detailRight {
  width: 66vw;
}

.director {
  margin-top: 4vh;
  padding: 1vh 1vw;
  border-radius: 2px;
  background-color: #b8c1ec;
  color: #232946;
}

.cast {
  margin-top: 4vh;
  padding: 1vh 1vw;
  border-radius: 2px;
  background-color: #b8c1ec;
  color: #232946;
}

footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 11vh;
  margin: 0 auto;
  padding: 0 6vw;
  font-size: 20px;
  background-color: #000000;
  width: 100%;
}

.footerLogo {
  font-weight: bold;
  margin-right: 8px;
}

.footerLogo a {
  text-decoration: none;
  color: #fffffe;
}

.footerLogo p span {
  color: #eebbc3;
}

.footerTwitter {
  margin-left: 8px;
}

.fa-twitter {
  font-size: 20px;
  color: #1DA1F2;
}